<mat-sidenav-container class="office-side-nav2" [dir]="(dir | async) === 'ltr' ? 'ltr' : 'rtl'">
  <mat-sidenav [opened]="(isHandset | async) ? 'false' : true" [mode]="(isHandset | async) ? 'over' : 'side'" #drawer [ngClass]="isTest ? 'hide' : ''">
    <mat-toolbar>
      <span translate>Office Account</span>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item routerLink="information" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">settings</span>
          <h3 mat-line mat-h3 translate>Information</h3>
          <p mat-line translate>
            Check and change office information
          </p>
      </button>
      <!-- <button mat-list-item routerLink="owners" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">group</span>
          <h3 mat-line mat-h3 translate>Owners</h3>
          <p mat-line translate>
            Add & Update office owners
          </p>
      </button> -->
      <button mat-list-item routerLink="specialties" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">card_membership</span>
          <h3 mat-line mat-h3 translate>Specialities</h3>
          <p mat-line translate>
            Add & Update office specialities
          </p>
      </button>
      <button mat-list-item routerLink="activities" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">work</span>
          <h3 mat-line mat-h3 translate>Activities</h3>
          <p mat-line translate>
            Add & Update office activities
          </p>
      </button>
      <button mat-list-item routerLink="phones" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">tag</span>
          <h3 mat-line mat-h3 translate>Contact List</h3>
          <p mat-line translate>
            Add & Update office contact list
          </p>
      </button>
      <button mat-list-item routerLink="security" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">key</span>
          <h3 mat-line mat-h3 translate>Security</h3>
          <p mat-line translate>
            Change account password
          </p>
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button class="upper-left" (click)="drawer.toggle()" *ngIf="(isHandset | async)"><mat-icon>menu</mat-icon></button>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
