<div class="office-home-content" [ngClass]="(isHandset | async) ? 'office-home-content-handset' : ''">
  <h1 class="mat-h1" translate>
    Billing Information
  </h1>
  <h3 class="mat-h3" translate>
    List & Filter all offices billing information
  </h3>
  <app-dynamic-data-table (bindingChanged)="changeBinding($event)"
  [haveExport]="true"
  [selectFilters]="selectFilters"
  [showFilters]="!(isHandset | async)"
  [language$]="language$"
  [data]="data" [dataSize]="dataSize"
  [columnsDef]="columnsDef" [isLoading]="isLoading"
  [havePaging]="true" [activeSort]="'PaymentDate'"
  [isObservableFilter]="true" [clickable]="true"
  [activeDirection]="'desc'"
  (exportClick)="exportExcel()"
  (rowClicked)="goToPayment($event)"
 ></app-dynamic-data-table>
</div>
