
<div class="office-home-content" [ngClass]="(isHandset | async) ? 'office-home-content-handset' : ''">
  <form [formGroup]="frm" *ngIf="frm" (ngSubmit)="save()">
    <h1 class="mat-h1" translate>
      Information
    </h1>
    <h3 class="mat-h3" translate>
        Logo
    </h3>
      <p class="no-margin" translate>
        Update your Logo
      </p>
      <small translate>
        Accepted extensions .png,.jpg,.jpeg - Max Size: 5MB
      </small>
    <div style="width:100%; display: flex; flex-direction: column; align-items: center;">
      <div class="logo-options-container">
        <mat-grid-list rowHeight="80" cols="2">
          <mat-grid-tile colspan="2" rowspan="2">
            <div class="office-home-logo" [ngStyle]="office.LogoUrl ? {'background-image': 'url('+office.LogoUrl+')'} : {'background-image': 'none'}"></div>
              <!-- <img class="avatar"  [src]="office.LogoUrl" alt="Avatar" onerror="this.onerror=null; this.src='assets/images/default_avatar.png';"> -->
          </mat-grid-tile>
          <mat-grid-tile>
              <button mat-button color="primary" type="button" (click)="input.click()" ><span translate>Change</span></button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button [disabled]="!office.LogoUrl" mat-button type="button" (click)="deleteLogo()"><span translate=>Remove</span></button>
          </mat-grid-tile>
        </mat-grid-list>
        <input id="file-upload" #input [disabled]="(isLoading | async)"
        type="file" name="fileUpload" accept=".png,.jpg,.jpeg" (change)="uploadLogo($event)"/>
      </div>
    </div>
  <h3 class="mat-h3" translate>
    Main Information
  </h3>
  <p translate>
    Office Main Information
  </p>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 2">
    <mat-grid-tile>
      <div class="form-field-container">
        <app-select
          controlName="TypeId"
          [formGroup]="frm"
          [label]="'Office Type' | translate"
          [placeHolder]="'Select Type' | translate"
          [options]="(officeTypes | async)!"
          [isLoading]="(officeTypesLoading | async)!"
          [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
          optionValue="Id"></app-select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="LicenseId" [isAsync]="true" [formGroup]="frm" [label]="'License Number' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="NameEnglish" [isAsync]="true" [formGroup]="frm" [label]="'English Name' | translate" type="text"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="NameArabic" [isAsync]="true" [formGroup]="frm" [label]="'Arabic Name' | translate" type="text"></app-input>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <h3 class="mat-h3" translate>
    Logo
  </h3>
  <p translate>
    Update your Logo
  </p>
  <div class="logo-options-container">
    <mat-grid-list rowHeight="60" cols="3">
      <mat-grid-tile>
        <div class="office-home-logo" [ngStyle]="office.LogoUrl ? {'background-image': 'url('+office.LogoUrl+')'} : {'background-image': 'none'}"></div>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-button color="primary" type="button" (click)="input.click()" ><span translate>Change</span></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button [disabled]="!office.LogoUrl" mat-button type="button" (click)="deleteLogo()"><span translate=>Remove</span></button>
      </mat-grid-tile>
    </mat-grid-list>
    <input id="file-upload" #input [disabled]="(isLoading | async)"
    type="file" name="fileUpload" accept=".png,.jpg,.jpeg" (change)="uploadLogo($event)"/>
  </div> -->

  <h3 class="mat-h3" translate>
    Account Dates
  </h3>
  <p translate>
    Dates Related To Account
  </p>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 3">
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input type="date" controlName="RegistrationDate" [formGroup]="frm" [label]="'Registration Date' | translate"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input type="date" controlName="MembershipEndDate" [formGroup]="frm" [label]="'Membership Expiry' | translate"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input type="number" controlName="RenewYears" [formGroup]="frm" [label]="'Renew Years' | translate"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input type="date" controlName="EstablishmentDate" [formGroup]="frm" [label]="'Establishment Date' | translate" [matchLabel]="'License Expiry Date' | translate"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input type="date" controlName="LicenseEndDate" [formGroup]="frm" [label]="'License Expiry Date' | translate" [matchLabel]="'Establishment Date' | translate"></app-input>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="mat-h3" translate>
    Office Entities
  </h3>
  <p translate>
    Entities Related To Office
  </p>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 2">
    <mat-grid-tile>
      <div class="form-field-container">
      <app-select
            controlName="EntityId"
            [formGroup]="frm"
            [label]="'Office Entity' | translate"
            [placeHolder]="'Select Entity' | translate"
            [options]="(officeEntities | async)!"
            [isLoading]="(officeEntitiesLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
            optionValue="Id"></app-select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
      <app-select
            controlName="LegalEntityId"
            [formGroup]="frm"
            [label]="'Office Legal Entity' | translate"
            [placeHolder]="'Select Legal Entity' | translate"
            [options]="(officeLegalEntities | async)!"
            [isLoading]="(officeLegalEntitiesLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
            optionValue="Id"></app-select>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="mat-h3" translate>
    Contact Information
  </h3>
  <p translate>
    Place Your Contact Information To Be riched
  </p>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 2">
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="Email" [isAsync]="true" [formGroup]="frm" [label]="'Primary Email Address' | translate" type="text"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="EmailTwo" [formGroup]="frm" [label]="'Secondary Email Address' | translate" type="text"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="PhoneNumber" [formGroup]="frm" [label]="'Contact Phone Number' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="FaxNumber" [formGroup]="frm" [label]="'Fax Number' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="MailBox" [formGroup]="frm" [label]="'Mailbox' | translate" type="text"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="PostalCode" [formGroup]="frm" [label]="'Postal Code' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="mat-h3" translate>
    Location & Address
  </h3>
  <p translate>
    Your Headquarter Detailed Address
  </p>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 2">
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="AutoNumberOne" [formGroup]="frm" [label]="'Auto Number 1' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="AutoNumberTwo" [formGroup]="frm" [label]="'Auto Number 2' | translate" type="number"></app-input>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list rowHeight="75" [cols]="(isHandset | async) ? 1 : 3">
    <mat-grid-tile>
      <div class="form-field-container">
      <app-select
            controlName="CountryId"
            [formGroup]="frm"
            [label]="'Country' | translate"
            [placeHolder]="'Select Country' | translate"
            [options]="(countries | async)!"
            [isLoading]="(countriesLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
            optionValue="Id"></app-select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
      <app-select
            controlName="GovernorateId"
            [formGroup]="frm"
            [label]="'Governorate' | translate"
            [placeHolder]="'Select Governorate' | translate"
            [options]="(governorates | async)!"
            [isLoading]="(governoratesLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
            optionValue="Id"
            (valueChanges)="getAreas($event)"></app-select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
      <app-select
            controlName="AreaId"
            [formGroup]="frm"
            [label]="'Area' | translate"
            [placeHolder]="'Select Area' | translate"
            [options]="(areas)!"
            [isLoading]="(areasLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' : 'NameEnglish'"
            optionValue="Id"></app-select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(isHandset | async) ? 1 : 3" rowspan="2">
      <div class="form-field-container">
        <mat-form-field>
          <mat-label translate>Address</mat-label>
          <textarea matInput formControlName="Address"></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <h3 class="mat-h3" translate>
    Policy & Privacy
  </h3>
  <p translate>
    Accept Terms & Conditions And Set Your Privacy
  </p>
  <!-- <div class="form-field-container" *ngIf="!office.AgreeToTerms">
    <mat-checkbox formControlName="AgreeToTerms"><span translate>I agree to the terms and conditions</span></mat-checkbox>
  </div> -->
  <div class="form-field-container">
    <mat-checkbox formControlName="ShowInHome"><span translate>Show office in home</span></mat-checkbox>
  </div>
  <div class="form-field-container">
    <mat-checkbox formControlName="IsVerified"><span translate>Verified</span></mat-checkbox>
  </div>
  <div class="form-field-container">
    <mat-checkbox formControlName="IsActive"><span translate>Active</span></mat-checkbox>
  </div>
  <div>
    <mat-grid-list rowHeight="60" cols="2" class="actions-container">
      <mat-grid-tile>
        <div class="form-field-container">
          <button mat-raised-button color="primary" [disabled]="frm.invalid || (isLoading | async)">
            <span translate>Save Changes</span>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-field-container">
          <button mat-raised-button type="button" (click)="reset()" [disabled]="(isLoading | async)">
            <span translate>Reset</span>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</form>
</div>
<div class="saving-data" *ngIf="(isLoading | async)">
  <mat-spinner diameter="30"></mat-spinner>
</div>

