<mat-sidenav-container class="office-side-nav">
  <mat-sidenav mode="side" opened="true">
    <div class="logo-toolbar">
      <img src="assets/images/logos/dark/logo-no-text-white.png">
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined" [routerLink]="'/office/home'" routerLinkActive="office-navbar-active">
        home
      </span></button>
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined">
        description
      </span></button>
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined">
        published_with_changes
      </span></button>
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined">
        mail
      </span></button>
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined">
        key
      </span></button>
    </div>
    <div class="btn-icon">
      <button mat-icon-button><span class="material-symbols-outlined" (click)="logOut()">
        logout
      </span></button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
