
<mat-card class="news-card">
  <mat-grid-list rowHeight="40" cols="5">
    <mat-grid-tile colspan="2" rowspan="8">
      <img [src]="newsImgUrl">
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="news-text">
      <div class="news-date">{{newsDate | localizedDate}} | {{newsCategory ?? 'General'}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="news-text">
      <div class="news-title">{{newsHeadline}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5" class="flex-start">
      <div class="news-text" [innerHTML]="(isHandset | async) ? newsText : newsText">
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <button mat-button color="primary" (click)="onClick()">
          <span translate>Read More..</span>
        </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
