<div class="office-home-content" [ngClass]="(isHandset | async) ? 'office-home-content-handset' : ''">
  <form [formGroup]="frm" *ngIf="frm" (ngSubmit)="save()">
  <h1 class="mat-h1" translate>
    Security
  </h1>
  <h3 class="mat-h3" translate>
    Change Password
  </h3>
  <p translate>
    Insert needed fields to change your password
  </p>
  <mat-grid-list rowHeight="75" cols="1">
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="CurrentPassword" [formGroup]="frm" [label]="'Current Password' | translate" type="password"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="NewPassword" [formGroup]="frm" [label]="'New Password' | translate" type="password"></app-input>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="form-field-container">
        <app-input controlName="PasswordConfirm" [formGroup]="frm" [label]="'Confirm Password' | translate" type="password"></app-input>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list rowHeight="60" cols="1" class="actions-container">
    <mat-grid-tile>
      <div class="form-field-container">
        <button mat-raised-button color="primary" [disabled]="frm.invalid || (isLoading | async)">
          <span translate>Save Changes</span>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  </form>
  </div>
  <div class="saving-data" *ngIf="(isLoading | async)">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
