<mat-sidenav-container class="office-side-nav2" [dir]="(dir | async) === 'ltr' ? 'ltr' : 'rtl'">
  <mat-sidenav [opened]="(isHandset | async) ? 'false' : true" [mode]="(isHandset | async) ? 'over' : 'side'" #drawer>
    <mat-toolbar>
      <span translate>Office Owners</span>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item routerLinkActive="office-home-active" routerLink="list" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">recent_Actors</span>
          <h3 mat-line mat-h3 translate>List Of Owners</h3>
          <p mat-line translate>
            List & update my office's owners
          </p>
      </button>
      <!-- <button mat-list-item routerLink="owners" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">group</span>
          <h3 mat-line mat-h3 translate>Owners</h3>
          <p mat-line translate>
            Add & Update office owners
          </p>
      </button> -->
      <button mat-list-item routerLink="new" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">add</span>
          <h3 mat-line mat-h3 translate>Add new office owner</h3>
          <!-- <p mat-line translate>

          </p> -->
      </button>
      <!-- <button mat-list-item routerLink="activities" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">work</span>
          <h3 mat-line mat-h3 translate>Activities</h3>
          <p mat-line translate>
            Add & Update office activities
          </p>
      </button>
      <button mat-list-item routerLink="phones" routerLinkActive="office-home-active" (click)="drawer.mode === 'over' && drawer.close()">
        <span mat-list-icon class="material-symbols-outlined">tag</span>
          <h3 mat-line mat-h3 translate>Phones</h3>
          <p mat-line translate>
            Add & Update office phone numbers
          </p>
      </button> -->
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button class="float-drawer-toggle" color="primary"  (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
      <mat-icon *ngIf="!drawer.opened">chevron_right</mat-icon>
    </button>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
