<div class="news-section">
<div class="section-title">
  <div class="title-text" translate>Latest News</div>
</div>
  <mat-grid-list rowHeight="350" [cols]="(isHandset | async) ? 1 : 2" gutterSize="10" class="news-container" *ngIf="news | async">
    <mat-grid-tile *ngFor="let post of news | async">
      <app-news-card
      [newsDate]="post.PublishDate"
      [newsCategory]="(language$ | async)==='ar' ? post.CategoryNameArabic : post.CategoryNameEnglish"
      [newsHeadline]="(language$ | async) === 'ar' ? post.TitleArabic : post.TitleEnglish"
      [newsImgUrl]="post.ImageUrl"
      [newsText]="(language$ | async) === 'ar' ? post.SubtitleArabic: post.SubtitleEnglish"
      (readMore)="goToPost(post)"
      >
    </app-news-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
