<app-carousel [language]="(language | async)!" [controls]="!(isHandset | async)"></app-carousel>

<app-welcome-section [language]="(language | async)!"></app-welcome-section>

<div class="divider"></div>

<app-news-section></app-news-section>

<app-office-slider [language]="(language | async)!"></app-office-slider>
<div class="home-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1738.306861488495!2d48.00028282011556!3d29.38159747256474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf8321ab6c0b9f%3A0x53cfc79597176838!2z2KfYqtit2KfYryDYp9mE2YXZg9in2KrYqCDYp9mE2YfZhtiv2LPZitipINmI2KfZhNiv2YjYsSDYp9mE2KfYs9iq2LTYp9ix2YrYqSDYp9mE2YPZiNmK2KrZitip!5e0!3m2!1sen!2snl!4v1667930505688!5m2!1sen!2snl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<app-footer-section></app-footer-section>
