<div class="flex-container account-bg">
  <div class="overall-spinner-container" *ngIf="(isRegistering | async)">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="frm" (ngSubmit)="register()">
  <mat-card class="account-card register">

    <div class="logo-container">
      <img src="assets/images/logos/light/logo-horizontal.png">
    </div>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-card-title translate>
        Register
      </mat-card-title>
      <mat-card-subtitle translate>
        Please fill all fields to register your account
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
      <mat-grid-list rowHeight="80" [cols]="(isHandset | async) ? 1 : 2">
        <mat-grid-tile>
            <app-select
            controlName="OfficeTypeId"
            [formGroup]="frm"
            [label]="'Office Type' | translate"
            [placeHolder]="'Select Type' | translate"
            [options]="(officeTypes | async)!"
            [isLoading]="(officeTypesLoading | async)!"
            [optionDisplay]="(language$ | async) === 'ar' ? 'NameArabic' :'NameEnglish'"
            optionValue="Id"></app-select>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="LicenseId" [isAsync]="true" [formGroup]="frm" [label]="'License Number' | translate" type="number"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="NameEnglish" [isAsync]="true" [formGroup]="frm" [label]="'English Name' | translate" type="text"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="NameArabic" [isAsync]="true" [formGroup]="frm" [label]="'Arabic Name' | translate" type="text"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="Email" [isAsync]="true" [formGroup]="frm" [label]="'Email Address' | translate" type="text"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="PhoneNumber" [formGroup]="frm" [label]="'Phone Number' | translate" type="number"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="Password" [formGroup]="frm" [label]="'Password' | translate" type="password"></app-input>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input controlName="PasswordConfirm" [formGroup]="frm" [label]="'Confirm Password' | translate" type="password"></app-input>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="form-field-container" style="padding-left: 30px; margin-bottom: 20px;">
        <mat-checkbox formControlName="AggreeToTerms"></mat-checkbox>
        <span style="margin-left: 5px;"><span translate>I agree to the </span><a href="javascript:void(0);" (click)="openTerms()" translate="">terms and conditions</a></span>
      </div>
    </div>
      <div class="align-items-center">
        <button [disabled]="frm.invalid || frm.pending || (isRegistering | async) || !aggree" mat-raised-button color="primary" style="width:90%">
          <span translate>Register</span></button>
      </div>
      <div class="align-items-center">
        <span translate>Have an account?</span>
        <button mat-button color="primary" type="button" routerLink="/account/login">
          <span translate>Login Instead</span></button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
</div>
